ul {
    list-style: none;
    background-color: black;
    padding: 1px;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -25.8px;
}
.colunas {
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: blue;
}
article {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: darkgray;
}
.nav {
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-grow: 1;
}
.menu {
    background-color: black;
    opacity: 0.6;
    display: flex;
    list-style-type: none;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    width: 35vh;
    margin: 25px 30px 0px 0px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.fundo {
    display: flex;
    align-items: center;
}
.pesquisa {
    background-color: black;
    border-radius: 100%;
    opacity: 0.6;
    color: white;
    border: none;
    margin: 25px 30px 0 0;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
}
.pesquisa i {
    margin-right: 1px;
}
.pesquisa:hover {
    color: #555;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0px 0px 250px 0px;
}
#inicioMain {
    width: 100%;
    margin-bottom: 60px;
}
#decoracao {
    background-color: black;
    width: 67px;
    height: 80px;
    float: left;
    margin-left: 100px;
    font-size: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(146.31deg, rgb(250, 148, 4), rgb(238, 202, 55));
}
#tituloMain {
    float: left;
    margin-top: 9px;
    margin-left: 20px;
    font-size: 50px;
    /* translate: -44%; */
    color: black;
    font-family: sans-serif;
    color: rgba(90, 34, 139);
    font-family: "Roboto", sans-serif;
}
#btTodos {
    width: 150px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    float: right;
    margin-right: 100px;
    background: linear-gradient(156.30deg, rgb(229, 71, 26), rgb(250, 148, 4));
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}
#btTodos:hover {
    background: linear-gradient(146.31deg, rgb(250, 148, 4), rgb(238, 202, 55));
}
#textoBtTodos {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.link_news {
    text-decoration: none;
    color: black;
}
.linhas {
    display: flex;
    margin: 5px;
    padding: 0px;
    background-color: transparent;
}
article {
    display: flex;
    flex: 1;
    background-color: transparent;
    padding: 0px;
}
/* Bloco inteiro da Noticia */
.noticia {
    display: flex;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
    margin-left: 10px;
    margin-right: 10px;
    width: 850px;
    padding: 0px;
    background-color: white;
}
/* Imagens das Noticias */
.imagemNoticia {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-left: opx;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#imagemNoticia1 {
    background-image: url(imagens/verTodos/noticiaRestante9.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticia2 {
    background-image: url(imagens/verTodos/noticiaRestante10.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticia3 {
    background-image: url(imagens/verTodos/noticiaRestante11.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticia4 {
    background-image: url(imagens/verTodos/noticiaRestante3.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticia5 {
    background-image: url(imagens/verTodos/noticiaRestante4.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticia6 {
    background-image: url(imagens/verTodos/noticiaRestante5.webp);
    height: 200px;
    width: 200px;
}
/* Todos os textos da noticia */
.textoNoticia {
    margin-top: 15px;
    margin-right: 20px;
    width: 650px;
}
h1 {
    margin: 0px 5px 18px 10px;
    padding: 3px 5px 0px 3px;
}
p {
    margin: 3px 5px 0px 10px;
    padding: 3px 5px 0px 3px;
    text-align: justify;
    font-size: 20px;
}
body {
    margin: 0px;
    padding: 0px;
}
.background-container {
    width: 100%;
    height: 46.7vh;
    background: linear-gradient(156.30deg, rgb(229, 71, 26) 21.795%, rgb(250, 148, 4) 101.627%), rgb(238, 202, 55);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: fixed;
}

/* ---- NOTICIAS DO DIA ---- */
#noticiasDoDia {
    padding: 0px;
    display: flex;
    width: 1598px;
    height: 500px;
    margin-bottom: 100px;
    background-color: transparent;
}
.noticiaDoDia {
    display: block;
    height: 500px;
    width: 380px;
    box-shadow: 0px 25px 50px 0px rgba(93, 93, 93, 0.12);
    background-color: transparent;
    margin-right: 25px;
    border-radius: 20px;
}
.imagemNoticiaDoDia {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    width: 380px;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
}
.textoNoticiaDoDia {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center
}
.textoNoticiaDoDia p {
    margin-bottom: 20px;
    text-align: center;
}
.textoNoticiaDoDia h1 {
    font-size: 25px;
    color: black;
}
.textoNoticiaDoDia a {
    text-decoration: none;
}
#imagemNoticiaDoDia1 {
    background-image: url(imagens/verTodos/primeiraNoticia.webp);
}
#imagemNoticiaDoDia2 {
    background-image: url(imagens/verTodos/noticiaRestante1.webp);
}
#imagemNoticiaDoDia3 {
    background-image: url(imagens/verTodos/noticiaRestante2.webp);
}
#imagemNoticiaDoDia4 {
    background-image: url(imagens/noticia4_destaqueFundo.webp);
}
.nav h1 {
    transform: translate(-500%, 180%);
    font-size: 40px;
    color: black;
    font-family: "Lilita One", sans-serif;
    text-shadow: white 1.5px 0px 4px;
}
#logo {
    background-image: url(imagens/logo.png);
    transform: translate(-370%, 15%);
    background-size: cover;
    width: 200px;
    height: 200px;
}
footer {
    background: linear-gradient(156.30deg, rgb(229, 71, 26) 21.795%, rgb(250, 148, 4) 101.627%), rgb(238, 202, 55) !important;
    padding: 40px 20px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    width: 20%;
}

#logoFooter {
    background-image: url(imagens/logo.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.footer-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-menu {
    background-color: black;
    opacity: 0.6;
    display: flex;
    list-style-type: none;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.footer-menu li {
    margin: 0 15px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.footer-menu a:hover {
    background-color: #111;
    color: #f8f8f8;
}

.footer-social-media {
    width: 20%;
    text-align: right;
}

.social-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #555;
}