* {
    padding: 0px;
    margin: 0px;
}
main {
    padding: 0px;
    margin: 0px;
}
ul {
    list-style: none;
    background-color: black;
    padding: 1px;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.nav {
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-grow: 1;
}
.menu {
    background-color: black;
    opacity: 0.6;
    display: flex;
    list-style-type: none;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    width: 35vh;
    margin: 25px 30px 0px 0px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.fundo {
    display: flex;
    align-items: center;
}
.pesquisa {
    background-color: black;
    border-radius: 100%;
    opacity: 0.6;
    color: white;
    border: none;
    margin: 25px 30px 0 0;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
}
.pesquisa i {
    margin-right: 1px;
}
.pesquisa:hover {
    color: #555;
}
header {
    position: fixed; /* Fixa o cabeçalho */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    height: 100px; /* Altura do cabeçalho */
    background-color: black; /* Cor do fundo */
}
#linhaPrimeiraNoticia {
    width: 1500px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px 40px 24px 24px;
    margin: auto;
    margin-top: 250px;
}
article {
    background-color: rgb(158, 94, 51);
    border-radius: 20px;
    margin: auto;
}
#primeiraNoticia {
    display: flex;
    border-radius: 20px;
    width: 1300px;
    height: 400px;
}
#imagemPrimeiraNoticia {
    background-image: url(imagens/verTodos/primeiraNoticia.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 500px;
    margin-left: opx;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#textoPrimeiraNoticia {
    margin-top: 40px;
}
#textoPrimeiraNoticia a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#textoPrimeiraNoticia h1 {
    margin: 35px 0px 10px 30px;
    padding: 3px 5px 0px 3px;
    text-decoration: none;
    color: white;
    text-align: justify;
    font-size: 45px;
    width: 700px;
    transition: color 0.5s ease;
}
#textoPrimeiraNoticia h1:hover {
    color: rgb(238, 202, 55);
}
#textoPrimeiraNoticia p {
    margin: 35px 0px 10px 30px;
    padding: 3px 5px 0px 3px;
    text-align: justify;
    font-size: 17px;
    color: white;
    font-size: 20px;
    width: 700px;
}
#link_saibaMais {
    margin: 45px 0px 10px 30px;
    color: white;
    padding: 10px 30px 10px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(146.31deg, rgb(229, 71, 26), rgb(238, 202, 55));
    border-radius: 10px 50px 50px 10px;
    text-decoration: none;
    width: 100px;
    text-align: center;
}
#link_saibaMais:hover {
    background: linear-gradient(156.30deg, rgb(229, 71, 26), rgb(250, 148, 4));
}
#link_saibaMais a {
    text-decoration: none;
}

/* DECORAÇÃO DAS NOTICIAS */
#inicioMain {
    margin-top: 50px;
    margin-bottom: 140px;
    margin-left: 150px;
}
#decoracao {
    background-color: black;
    width: 67px;
    height: 67px;
    float: left;
    margin-left: 195px;
    font-size: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(146.31deg, rgb(250, 148, 4), rgb(238, 202, 55));
}
#tituloMain {
    float: left;
    margin-top: 2px;
    margin-left: 100px;
    font-size: 50px;
    translate: -40%;
    color: black;
    font-family: sans-serif;
    color: orangered;
    font-family: "Roboto", sans-serif;
}

/*  NOTICIAS RESTANTES  */
.linhas {
    display: flex;
    margin: 20px 5px 5px 340px;
    padding: 5px;
}
#noticiasRestantes {
    background-color: white;
    margin: 1px;
    border-radius: 20px;
}
.noticia {
    display: flex;
    border-radius: 20px;
    width: 900px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}
.imagemNoticia {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-left: opx;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.textoNoticia a {
    text-decoration: none;
}
.textoNoticia h1 {
    padding: 5px;
    margin: 10px 0px 0px 10px;
    width: 600px;
    color: black;
    transition: color 0.5s ease;
}
.textoNoticia h1:hover {
    color: orange;
}
.textoNoticia p {
    padding: 5px;
    margin: 10px 0px 0px 10px;
    width: 600px;
    font-size: 20px;
}

#imagemNoticiaRestante1 {
    background-image: url(imagens/verTodos/noticiaRestante1.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante2 {
    background-image: url(imagens/verTodos/noticiaRestante2.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante3 {
    background-image: url(imagens/verTodos/noticiaRestante6.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante4 {
    background-image: url(imagens/verTodos/noticiaRestante4.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante5 {
    background-image: url(imagens/verTodos/noticiaRestante5.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante6 {
    background-image: url(imagens/verTodos/noticiaRestante11.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante7 {
    background-image: url(imagens/verTodos/noticiaRestante7.webp);
    height: 200px;
    width: 200px;
}
#imagemNoticiaRestante8 {
    background-image: url(imagens/verTodos/noticiaRestante8.webp);
    height: 200px;
    width: 200px;
}
#linkProximaPaginas {
    display: flex;
    margin-left: 545px;
    margin-top: 20px;
}
#linkProximaPaginas a {
    height: 30px;
    width: 10px;
    background-color: rgb(229, 71, 26);
    text-decoration: none;
    color: white;
    margin: 3px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    min-width: 40px;
    margin-left: 8px;
}
#linkProximaPaginas a:hover {
    color: black;
    background: linear-gradient(146.31deg, rgb(229, 71, 26), rgb(238, 202, 55));
}
.nav h1 {
    transform: translate(-527.72%, 177%);
    font-size: 40px;
    color: black;
    font-family: "Lilita One", sans-serif;
    text-shadow: white 1.5px 0px 4px;
}
#logo {
    background-image: url(imagens/logo.png);
    transform: translate(-381.5%, 15%);
    background-size: cover;
    width: 200px;
    height: 200px;
}
.background-container {
    width: 100%;
    height: 40vh;
    background: linear-gradient(156.30deg, rgb(229, 71, 26) 21.795%, rgb(250, 148, 4) 101.627%), rgb(238, 202, 55);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
footer {
    background: linear-gradient(156.30deg, rgb(229, 71, 26) 21.795%, rgb(250, 148, 4) 101.627%), rgb(238, 202, 55) !important;
    padding: 40px 20px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    width: 20%;
}

#logoFooter {
    background-image: url(imagens/logo.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.footer-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-menu {
    background-color: black;
    opacity: 0.6;
    display: flex;
    list-style-type: none;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.footer-menu li {
    margin: 0 15px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.footer-menu a:hover {
    background-color: #111;
    color: #f8f8f8;
}

.footer-social-media {
    width: 20%;
    text-align: right;
}

.social-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #555;
}